<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Store Location</title>
</head>
<head th:include="fragment/bootstrap :: head"></head>
<body th:include="fragment/bootstrap :: body"></body>
<body>
<div th:replace="fragment/navigation :: nav"></div>

<div class="container">
    <h2 th:text="${location.name}">Store Locations</h2>
    <table class="table table-striped">
            <form th:action="@{/storelocation/{location_id}(location_id=${location.id})}" th:object="${location}" method="post">
               <input type="hidden" th:field="*{id}"/>
                <tr>
                    <th>Name</th>
                    <td><input class="form-control" th:field="*{name}"/>
                    <p th:each="error : ${#fields.errors('name')}"
                       th:text="${error}">Constraint error</p>
                    </td>
                </tr>

                <tr><th>Address 1</th>
                    <td><input class="form-control" th:field="*{lineOne}"/>
                    <p th:each="error : ${#fields.errors('lineOne')}"
                       th:text="${error}">Constraint error</p>
                    </td>
                </tr>

                <tr><th>Address 2</th>
                    <td><input class="form-control" th:field="*{lineTwo}"/>
                    <p th:each="error : ${#fields.errors('lineTwo')}"
                       th:text="${error}">Constraint error</p>
                    </td>
                </tr>

                <tr><th>City</th>
                    <td><input class="form-control" th:field="*{city}"/>
                    <p th:each="error : ${#fields.errors('city')}"
                       th:text="${error}">Constraint error</p>
                    </td>
                </tr>

                <tr><th>State</th>
                    <td><input class="form-control" th:field="*{state}"/>
                    <p th:each="error : ${#fields.errors('state')}"
                       th:text="${error}">Constraint error</p>
                    </td>
                </tr>

                <tr><th>Zip</th>
                <td><input class="form-control" th:field="*{zipcode}"/>
                <p th:each="error : ${#fields.errors('zipcode')}"
                   th:text="${error}">Constraint error</p>
                </td>
                </tr>
                <tr>
                    <th></th>
                    <td class="text-right"><button class="btn btn-primary" type="submit" value="create">Modify</button></td>
                </tr>
            </form>
        </tbody>
    </table>
</div>
</body>
</html>