<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Store Location</title>
</head>
<head th:include="fragment/bootstrap :: head"></head>
<body th:include="fragment/bootstrap :: body"></body>
<body>
<div th:replace="fragment/navigation :: nav"></div>

<div class="container">
    <h2>Store Locations</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Street Line One</th>
            <th>Street Line Two</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="location : ${locations}">
                <td th:text="${location.name}"></td>
                <td th:text="${location.lineOne}"></td>
                <td th:text="${location.lineTwo}"></td>
                <td th:text="${location.city}"></td>
                <td th:text="${location.state}"></td>
                <td th:text="${location.zipcode}"></td>

                <td>
                    <form th:action="@{/storelocation/enable}" method="post">
                        <input type="hidden" id="id" name="id" th:value="${location.id}"/>
                        <button style="width:90px" class="btn btn-danger" type="submit" th:text="${location.enabled == true ? 'Enabled' : ' Disabled '}"></button>
                    </form>
                </td>
                <td>
                    <a class="btn btn-warning" th:href="@{/storelocation/{location_id}(location_id=${location.id})}">Modify</a>
                </td>
                <td>
                    <form th:action="@{/storelocation/delete}" th:object="${newLocation}" method="post">
                        <input type="hidden" id="id" name="id" th:value="${location.id}"/>
                        <button class="btn btn-danger" type="submit" value="delete">Delete</button>
                    </form>
                <td>
                </td>
            </tr>
            <form th:action="@{/storelocation/create}" th:object="${newLocation}" method="post">
                <td><input class="form-control" th:field="*{name}"/>
                <p th:each="error : ${#fields.errors('name')}"
                   th:text="${error}">Constraint error</p>
                </td>

                <td><input class="form-control" th:field="*{lineOne}"/>
                <p th:each="error : ${#fields.errors('lineOne')}"
                   th:text="${error}">Constraint error</p>
                </td>

                <td><input class="form-control" th:field="*{lineTwo}"/>
                <p th:each="error : ${#fields.errors('lineTwo')}"
                   th:text="${error}">Constraint error</p>
                </td>

                <td><input class="form-control" th:field="*{city}"/>
                <p th:each="error : ${#fields.errors('city')}"
                   th:text="${error}">Constraint error</p>
                </td>

                <td><input class="form-control" th:field="*{state}"/>
                <p th:each="error : ${#fields.errors('state')}"
                   th:text="${error}">Constraint error</p>
                </td>

                <td><input class="form-control" th:field="*{zipcode}"/>
                <p th:each="error : ${#fields.errors('zipcode')}"
                   th:text="${error}">Constraint error</p>
                </td>
                <td><button class="btn btn-primary" type="submit" value="create">Create</button></td>
                <td></td>
            </form>
        </tbody>
    </table>
</div>
</body>
</html>