<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Revenue Entry</title>
</head>
<head th:include="fragment/bootstrap :: head"></head>
<body th:include="fragment/bootstrap :: body"></body>
<body>
<div th:replace="fragment/navigation :: nav"></div>

<div class="container">
    <div class="row">
        <div class="col-3">
    <h2>Revenue Entry</h2>
<form th:action="@{/revenue/daily/entry}" th:object="${enteredRevenue}" method="post">
    <table class="table table-striped">
        <colgroup>
            <col style="width: 70%">
            <col style="width: 30%">
        </colgroup>
        <tbody>



        <!-- Date -->
        <tr>
        <th>Date</th>
        <td><input class="form-control form-date" type="date" th:field="*{stringDate}"/>
            <p th:each="error : ${#fields.errors('date')}"
               th:text="${error}">Constraint error</p>
        </td>
        </tr>

        <!-- Location -->
        <tr>
            <th>Location</th>
            <td><select class="form-control" th:field="*{locationId}">
                <option th:each="location : ${locations}"
                        th:value="${location.id}"
                        th:text="${location.name}"
                        th:selected="${enteredRevenue.locationId == location.id}">
                </option>
            </select>
            <p th:each="error : ${#fields.errors('locationId')}"
               th:text="${error}">Constraint error</p>
            </td>
        </tr>
        <!-- transactionCount -->
        <tr>
            <th>Transaction Count</th>
            <td><input class="form-control" type="text" th:field="*{transactionCount}"/>
            <p th:each="error : ${#fields.errors('transactionCount')}"
               th:text="${error}">Constraint error</p>
            </td>
        </tr>
        <!-- cashCount -->
        <tr>
            <th>Cash Count</th>
            <td><input class="form-control" type="text" th:field="*{cashCount}"/>
            <p th:each="error : ${#fields.errors('cashCount')}"
               th:text="${error}">Constraint error</p>
            </td>
        </tr>
        <!-- checkCount -->
        <tr>
            <th>Check Count</th>
            <td><input class="form-control" type="text" th:field="*{checkCount}"/>
            <p th:each="error : ${#fields.errors('checkCount')}"
               th:text="${error}">Constraint error</p>
            </td>
        </tr>
        <!-- cardUnit -->
        <tr>
            <th>Card Unit</th>
            <td><input class="form-control" type="text" th:field="*{cardUnit}"/>
            <p th:each="error : ${#fields.errors('cardUnit')}"
               th:text="${error}">Constraint error</p>
            </td>
        </tr>
        <!-- payoutReceipt -->
        <tr>
            <th>Payout Receipt</th>
            <td><input class="form-control" type="text" th:field="*{payoutReceipt}"/>
            <p th:each="error : ${#fields.errors('payoutReceipt')}"
               th:text="${error}">Constraint error</p>
            </td>
        </tr>
        <!-- cashTape -->
        <tr>
            <th>Cash Tape</th>
            <td><input class="form-control" type="text" th:field="*{cashTape}"/>
            <p th:each="error : ${#fields.errors('cashTape')}"
               th:text="${error}">Constraint error</p>
            </td>
        </tr>
        <!-- checkTape -->
        <tr>
            <th>Check Tape</th>
            <td><input class="form-control" type="text" th:field="*{checkTape}"/>
            <p th:each="error : ${#fields.errors('checkTape')}"
               th:text="${error}">Constraint error</p>
            </td>
        </tr>
        <!-- cardTape -->
        <tr>
            <th>Card Tape</th>
            <td><input class="form-control" type="text" th:field="*{cardTape}"/>
            <p th:each="error : ${#fields.errors('cardTape')}"
               th:text="${error}">Constraint error</p>
            </td>
        </tr>
        <!-- taxTape -->
        <tr>
            <th>Tax Tape</th>
            <td><input class="form-control" type="text" th:field="*{taxTape}"/>
            <p th:each="error : ${#fields.errors('taxTape')}"
               th:text="${error}">Constraint error</p>
            </td>
        </tr>
        <!-- vehicleSale -->
        <tr>
            <th>Vehicle Sale</th>
            <td><input class="form-control" type="text" th:field="*{vehicleSale}"/>
            <p th:each="error : ${#fields.errors('vehicleSale')}"
               th:text="${error}">Constraint error</p>
            </td>
        </tr>
        <!-- salesVoid -->
        <tr>
            <th>Sales Void</th>
            <td><input class="form-control" type="text" th:field="*{salesVoid}"/>
            <p th:each="error : ${#fields.errors('salesVoid')}"
               th:text="${error}">Constraint error</p>
            </td>
        </tr>
        <!-- taxVoid -->
        <tr>
            <th>Tax Void</th>
            <td><input class="form-control" type="text" th:field="*{taxVoid}"/>
            <p th:each="error : ${#fields.errors('taxVoid')}"
               th:text="${error}">Constraint error</p>
            </td>
        </tr>
        <!-- memo -->
        <tr>
            <th>Memo</th>
            <td><textarea class="form-control"  th:field="*{memo}"></textarea>
            <p th:each="error : ${#fields.errors('memo')}"
               th:text="${error}">Constraint error</p>
            </td>
        </tr>

        <tr>
            <th></th>
            <td><button class="btn btn-primary" type="submit" value="submit">Submit</button></td>
        </tr>

        </tbody>
    </table>
</form>
        </div>
    </div>
</div>
</body>
</html>