<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Register</title>
</head>
<head th:include="fragment/bootstrap :: head"></head>
<body th:include="fragment/bootstrap :: body"></body>
<body>
<div th:replace="fragment/navigation :: nav"></div>
<div class="container">
    <h2>Register</h2>

<table class="table table-striped">
    <form th:action="@{/register}" th:object="${register}" method="post" class="was-validated">
    <tbody>
    <tr class="form-group">
        <th>Email</th>
        <td><input type="email" class="form-control is-invalid" th:field="*{username}"/>
            <div class="invalid-feedback" th:each="error : ${#fields.errors('username')}"
               th:text="${error}">Constraint error</div>
        </td>
    </tr>
    <tr>
        <th>First Name</th>
        <td><input class="form-control" th:field="*{firstName}"/>
            <p class="invalid-feedback" th:each="error : ${#fields.errors('firstName')}"
               th:text="${error}">Constraint error</p>
        </td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td><input class="form-control" th:field="*{lastName}"/>
            <p class="invalid-feedback" th:each="error : ${#fields.errors('lastName')}"
               th:text="${error}">Constraint error</p>
        </td>
    </tr>
    <tr>
        <th>Location</th>
        <td><select class="form-control" th:field="*{locationId}">
            <option th:each="location : ${locations}"
                    th:value="${location.id}"
                    th:text="${location.name}">
            </option>
        </select></td>
        <p class="invalid-feedback" th:each="error : ${#fields.errors('locationId')}"
           th:text="${error}">Constraint error</p>
    </tr>
    <tr>
        <th>Password</th>
        <td><input class="form-control" type="password" th:field="*{password}"/>
            <p class="invalid-feedback" th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Constraint error</p>
        </td>
    </tr>
    <tr>
        <th>Confirm Password</th>
        <td><input class="form-control" type="password" th:field="*{confirmPassword}"/>
            <p th:each="error : ${#fields.errors('confirmPassword')}"
               th:text="${error}">Constraint error</p>
            <div class="invalid-feedback" th:if="${#fields.hasGlobalErrors()}">
                <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
            </div>
        </td>
    </tr>
    <tr>
        <th></th>
        <td><button class="btn btn-primary" type="submit" value="register">Register</button>
        </td>
    </tr>
    </tbody>
    </form>
</table>
</div>
</body>
</html>