<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Navigation</title>
</head>
<body>

<div th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Hercules</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="dropdown" sec:authorize="hasAuthority('ROLE_ADMIN') or hasAuthority('ROLE_MANAGER')">
                    <a class="nav-link dropdown-toggle" href="#" id="entryLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Entry
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="entryLink">
                        <li><a class="dropdown-item" href="/revenue/daily/entry">Daily Revenue Entry</a></li>
                        <li><a class="dropdown-item" href="/revenue/department/entry">Department Revenue Entry</a></li>
                    </ul>
                </li>
                <li class="dropdown" sec:authorize="hasAuthority('ROLE_ADMIN') or hasAuthority('ROLE_EXECUTIVE')">
                    <a class="nav-link dropdown-toggle" href="#" id="reportingLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Report
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="reportingLink">
                        <li><a class="dropdown-item" href="/revenue/daily">Processed Daily Revenue</a></li>
                        <li><a class="dropdown-item" href="/summarystats">Summary Stats</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">

                <li class="dropdown mr-sm-2" sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" id="objectLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="objectLink">
                        <li><a class="dropdown-item" th:href="@{/storelocation}">Locations</a></li>
                        <li><a class="dropdown-item" th:href="@{/department}">Departments</a></li>
                        <li><a class="dropdown-item" th:href="@{/user/admin}">Users</a></li>
                    </ul>
                </li>

                <li class="dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span sec:authentication="name">user</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" th:href="@{/user}">Profile</a></li>
                        <li><a class="dropdown-item" th:href="@{/user/passwordchange}">Change Password</a></li>
                        <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
                    </ul>
                </li>
                <li sec:authorize="isAnonymous()">
                    <a th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

</body>
</html>