<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Forgot Password</title>
</head>
<head th:include="fragment/bootstrap :: head"></head>
<body th:include="fragment/bootstrap :: body"></body>
<body>
<div th:replace="fragment/navigation :: nav"></div>
<div class="container">
        <div class="row align-items-center">
            <h2 class="col-sm">Forgot Password</h2>
        </div>
    <p>
        Unfortunately the self-service password reset function is currently unavailable.
        The system is running in 'emailless' mode.
        Please contact your system administrator to reset your password.
    </p>
</div>

</body>
</html>