<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Forgot Password</title>
</head>
<head th:include="fragment/bootstrap :: head"></head>
<body th:include="fragment/bootstrap :: body"></body>
<body>
<div th:replace="fragment/navigation :: nav"></div>
<div class="container">
    <form th:action="@{/user/forgot}" method="post">
        <div class="row align-items-center">
            <h2 class="col-sm">Forgot Password</h2>
        </div>
        <div class="form-row align-items-center row justify-content-center align-items-center">
            <label class="col-auto col-form-label" for="email">Email</label>
            <div class="col-auto">
                <input class="form-control" id="email" type="email" name="email" placeholder="email@example.com" required/>
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" type="submit" value="submit">Reset</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>