<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Forgot Password</title>
</head>
<head th:include="fragment/bootstrap :: head"></head>
<body th:include="fragment/bootstrap :: body"></body>
<body>
<div th:replace="fragment/navigation :: nav"></div>
<div class="container" style="max-width: 600px">
    <h2>Forgot Password</h2>
<table class="table borderless table-borderless">
    <tbody>
    <form th:action="@{/user/forgot}" method="post">
        <tr>
        <th>Email</th>
        <td><input class="form-control" id="email" name="email"/></td>
        </tr>
        <tr>
            <td></td>
            <td class="text-right"><button class="btn btn-primary" type="submit" value="submit">Reset</button></td>
        </tr>
    </form>
    </tbody>
</table>
</div>

</body>
</html>