<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Department Revenue Entries</title>
</head>
<head th:include="fragment/bootstrap :: head"></head>
<body th:include="fragment/bootstrap :: body"></body>
<body>
<div th:replace="fragment/navigation :: nav"></div>

<div class="container">

    <h2>Department Revenue Entries</h2>

    <form class="container m-5" th:action="@{/departmentrevenue}" method="get" th:object="${search}">
        <div class="row">
            <div class="col">
                <h5>Store</h5>
            </div>
            <div class="col">
                <h5>Department</h5>
            </div>
            <div class="col">
                <h5>Start</h5>
            </div>
            <div class="col">
                <h5>End</h5>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <select class="form-control custom-select" th:field="*{storeId}">
                    <option value="-1">
                        All
                    </option>
                    <option th:each="location : ${stores}"
                            th:value="${location.id}"
                            th:text="${location.name}"
                            th:selected="${search.storeId == location.id}">
                    </option>
                </select>
            </div>
            <div class="col">
                <select class="form-control custom-select" th:field="*{departmentId}">
                    <option value="-1">
                        All
                    </option>
                    <option th:each="department : ${departments}"
                            th:value="${department.id}"
                            th:text="${department.name}"
                            th:selected="${search.departmentId == department.id}">
                    </option>
                </select>
            </div>
            <div class="col">
                <input type="date" class="form-control form-date" th:field="*{start}">
            </div>
            <div class="col">
                <input type="date" class="form-control form-date" th:field="*{end}">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary" value="Submit">Search</button>
            </div>
        </div>
    </form>

    <table id="departmententry" class="table">
        <thead>
        <tr>
            <th class="audit"><h5>Created By</h5></th>
            <th class="audit"><h5>Created At</h5></th>
            <th class="audit"><h5>Modified By</h5></th>
            <th class="audit"><h5>Modified At</h5></th>
            <th><h5>Location</h5></th>
            <th><h5>Department</h5></th>
            <th><h5>Date</h5></th>
            <th><h5>Amount</h5></th>
            <th><h5>Size</h5></th>
            <th><h5>Amount/Size</h5></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${departmentRevenues}">
            <td class="audit"th:text="${entry.createdBy}"></td>
            <td class="audit" th:text="${entry.creationDate}"></td>
            <td class="audit" th:text="${entry.lastModifiedBy}"></td>
            <td class="audit" th:text="${entry.lastModifiedDate}"></td>
            <td th:text="${entry.storeName}"></td>
            <td th:text="${entry.departmentName}"></td>
            <td th:text="${#dates.format(entry.date, 'MM/YYYY')}"></td>
            <td th:text="${entry.amount}"></td>
            <td th:text="${entry.size}"></td>
            <td th:text="${entry.revenuePerSize}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>