<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Taxes</title>
</head>
<head th:include="fragment/bootstrap :: head"></head>
<body th:include="fragment/bootstrap :: body"></body>
<body>
<div th:replace="fragment/navigation :: nav"></div>

<div class="container">
    <h2>Taxes</h2>
    <div class="row">
        <div class="col-3">Audit</div>
        <div class="col">Location</div>
        <div class="col">Start</div>
        <div class="col">End</div>
        <div class="col">Rate</div>
        <div class="col-3"></div>
    </div>
    <div class="row mt-1" th:each="tax : ${taxes}">

        <div class="col-3">
            <div class="row">
                <div class="col">Created By</div>
                <div class="col" th:text="${tax.createdBy}"></div>
            </div>
            <div class="row">
                <div class="col">At</div>
                <div class="col" th:text="${tax.creationDate}"></div>
            </div>
            <div class="row" th:if="${tax.lastModifiedBy != null}">
                <div class="col">Modified By</div>
                <div class="col" th:text="${tax.lastModifiedBy}"></div>
            </div>
            <div class="row" th:if="${tax.lastModifiedDate != null}">
                <div class="col">At</div>
                <div class="col" th:text="${tax.lastModifiedDate}"></div>
            </div>
        </div>

        <div class="col" th:text="${tax.storeName}"></div>
        <div class="col" th:text="${#dates.format(tax.start, 'MM/dd/yyyy')}"></div>
        <div class="col" th:text="${#dates.format(tax.end, 'MM/dd/yyyy')}"></div>
        <div class="col" th:text="${tax.size}"></div>
        <div class="col-3">

            <div class="row">

                <div class="col">
                    <a class="btn btn-warning" th:href="@{/tax/{tax}(tax=${tax.id})}">Modify</a>
                </div>

                <form class="col" th:action="@{/tax/delete}" th:object="${newTax}" method="post">
                    <input type="hidden" id="id" name="id" th:value="${tax.id}"/>
                    <button class="btn btn-danger" type="submit" value="delete">Delete</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" th:href="@{/tax/create}">Create</a>
        </div>
    </div>


</body>
</html>