<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Daily Entries</title>
</head>
<head th:include="fragment/bootstrap :: head"></head>
<body th:include="fragment/bootstrap :: body"></body>
<body>
<div th:replace="fragment/navigation :: nav"></div>

<div class="container">

    <h2>Daily Entries</h2>

    <form class="container m-5" th:action="@{/dailyentry}" method="get" th:object="${search}">
        <div class="row">
            <div class="col">
                <h5>Store</h5>
            </div>
            <div class="col">
                <h5>Start</h5>
            </div>
            <div class="col">
                <h5>End</h5>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <select class="form-control custom-select" th:field="*{storeId}">
                    <option value="-1">
                            All
                    </option>
                    <option th:each="location : ${stores}"
                            th:value="${location.id}"
                            th:text="${location.name}"
                            th:selected="${search.storeId == location.id}">
                    </option>
                </select>
            </div>
            <div class="col">
               <input type="date" class="form-control form-date" th:field="*{start}">
            </div>
            <div class="col">
                <input type="date" class="form-control form-date" th:field="*{end}">
            </div>
            <div class="col">
                <button type="submit"  class="btn btn-primary" value="Submit">Search</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-3"><h5>Audit</h5></div>
        <div class="col"><h5>Location</h5></div>
        <div class="col"><h5>Date</h5></div>
        <div class="col"><h5>Actual</h5></div>
        <div class="col"><h5>Tape</h5></div>
        <div class="col"><h5>Over/Under</h5></div>
        <div class="col"><h5>Amount Per Transactions</h5></div>
        <div class="col"><h5>Calculated Tax</h5></div>
    </div>
    <div class="row mt-1" th:each="entry : ${entries}">

        <div class="col-3">
            <div class="row">
                <div class="col">Created By</div>
                <div class="col" th:text="${entry.createdBy}"></div>
            </div>
            <div class="row">
                <div class="col">At</div>
                <div class="col" th:text="${entry.creationDate}"></div>
            </div>
            <div class="row" th:if="${entry.lastModifiedBy != null}">
                <div class="col">Modified By</div>
                <div class="col" th:text="${entry.lastModifiedBy}"></div>
            </div>
            <div class="row" th:if="${entry.lastModifiedDate != null}">
                <div class="col">At</div>
                <div class="col" th:text="${entry.lastModifiedDate}"></div>
            </div>
        </div>

        <div class="col" th:text="${entry.storeName}"></div>
        <div class="col" th:text="${#dates.format(entry.date, 'MM/dd/YYYY')}"></div>
        <div class="col" th:text="${entry.actual}"></div>
        <div class="col" th:text="${entry.recorded}"></div>
        <div class="col" th:text="${entry.overUnder}"></div>
        <div class="col" th:text="${entry.valuePerTranscation}"></div>
        <div class="col" th:text="${entry.calculatedTax}"></div>
    </div>
</div>

</body>
</html>