<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Daily Entries</title>
</head>
<head th:include="fragment/bootstrap :: head"></head>
<body th:include="fragment/bootstrap :: body"></body>
<body>
<div th:replace="fragment/navigation :: nav"></div>

<div class="container">

    <h2>Daily Entries</h2>

    <form class="container m-5" th:action="@{/dailyentry}" method="get" th:object="${search}">
        <div class="row">
            <div class="col">
                <h5>Store</h5>
            </div>
            <div class="col">
                <h5>Start</h5>
            </div>
            <div class="col">
                <h5>End</h5>
            </div>
            <div class="col">
                <h5>Level of Detail</h5>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <select class="form-control custom-select" th:field="*{storeId}">
                    <option value="-1">
                            All
                    </option>
                    <option th:each="location : ${stores}"
                            th:value="${location.id}"
                            th:text="${location.name}"
                            th:selected="${search.storeId == location.id}">
                    </option>
                </select>
            </div>
            <div class="col">
               <input type="date" class="form-control form-date" th:field="*{start}">
            </div>
            <div class="col">
                <input type="date" class="form-control form-date" th:field="*{end}">
            </div>
            <div class="col">
                <select class="form-control custom-select" th:field="*{lod}">
                    <option th:each="lod : ${T(com.agoldberg.hercules.dailyentry.LOD).values()}"
                            th:value="${lod}"
                            th:text="${lod}"
                            th:selected="${search.lod == lod}">>

                    </option>
                </select>
            </div>
            <div class="col">
                <button type="submit"  class="btn btn-primary" value="Submit">Search</button>
            </div>
        </div>
    </form>

    <div th:if="${(search.storeId != null && search.storeId > -1) || search.lod != T(com.agoldberg.hercules.dailyentry.LOD).ENTRY}" class="container" id="chart">


    </div>
    <table id="dailyentry">

   <thead>
    <tr>

        <th class="audit"><h5>Created By</h5></th>
        <th class="audit"><h5>Created At</h5></th>
        <th class="audit"><h5>Modified By</h5></th>
        <th class="audit"><h5>Modified At</h5></th>

        <th ><h5>Location</h5></th>
        <th ><h5>Date</h5></th>
        <th ><h5>Actual</h5></th>
        <th ><h5>Tape</h5></th>
        <th ><h5>Over/Under</h5></th>
        <th ><h5>Amount Per Transactions</h5></th>
        <th ><h5>Calculated Tax</h5></th>
        <th class="detail">Transaction Count</th>
        <th class="detail">Cash Count</th>
        <th class="detail">Check Count</th>
        <th class="detail">Card Unit</th>
        <th class="detail">Cash Tape</th>
        <th class="detail">Check Tape</th>
        <th class="detail">Card Tape</th>
        <th class="detail">Tax Tape</th>
        <th class="detail">Payout Receipt</th>
        <th class="detail">Memo</th>
        <th></th>
    </tr>
   </thead>
        <tbody>
    <tr th:each="entry : ${entries}">

        <td class="audit" th:text="${entry.createdBy}"></td>
        <td class="audit" th:text="${entry.creationDate}"></td>
        <td class="audit" th:text="${entry.lastModifiedBy}"></td>
        <td class="audit" th:text="${entry.lastModifiedDate}"></td>
        <td th:text="${entry.storeName}"></td>
        <td th:text="${#dates.format(entry.date, 'yyyy-MM-dd')}"></td>
        <td th:text="${entry.actual}"></td>
        <td th:text="${entry.recorded}"></td>
        <td th:text="${entry.overUnder}"></td>
        <td th:text="${entry.valuePerTranscation}"></td>
        <td th:text="${entry.calculatedTax}"></td>

        <td class="detail" th:text="${entry.transactionCount}">transactionCount</td>
        <td class="detail" th:text="${entry.cashCount}">cash</td>
        <td class="detail" th:text="${entry.checkCount}">Check Count</td>
        <td class="detail" th:text="${entry.cardUnit}">Card Unit</td>
        <td class="detail" th:text="${entry.cashTape}">Cash Tape</td>
        <td class="detail" th:text="${entry.checkTape}">Check Tape</td>
        <td class="detail" th:text="${entry.cardTape}">Card Tape</td>
        <td class="detail" th:text="${entry.taxTape}">Tax Tape</td>
        <td class="detail" th:text="${entry.payoutReceipt}">Payout Receipt</td>
        <td class="detail" th:text="${entry.memo}">Memo</td>
        <td><a class="btn btn-link" th:href="@{/dailyentry/modify/{id}(id=${entry.id})}">Something looks off?</a>
        </td>
    </tr>
        </tbody>
    </table>
</div>

</body>
<script >

</script>
</html>

<script>
    Highcharts.chart('chart', {
        data: {
            table: 'dailyentry',
            startColumn: 5,
            endColumn:6,
            dateFormat: "MM/dd/YYYY",
        },
        chart: {
            type: 'area',
            grouping:true
        },
        title: {
            text: 'Daily Revenue'
        },
        yAxis: {
            allowDecimals: false,
            title: {
                text: '$'
            }
        }
    });
</script>