<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Confirm Entry</title>
</head>
<head th:include="fragment/bootstrap :: head"></head>
<body th:include="fragment/bootstrap :: body"></body>
<body>
<div th:replace="fragment/navigation :: nav"></div>
<div class="container">
    <h2>Confirm Department Revenue Entry</h2>
<th:block th:object="${departmentRevenue}">
    <table class="table table-striped">
        <tbody>

        <!-- Date -->
        <tr>
            <th>Date</th>
            <td th:text="*{date}"></td>
        </tr>

        <!-- Location -->
        <tr>
            <th>Department</th>
            <td th:text="*{departmentName}"></td>
        </tr>
        <!-- transactionCount -->
        <tr>
            <th>Revenue</th>
            <td th:text="*{revenue}"/></td>
        </tr>
        <tr>
            <td><a class="btn btn-primary" th:href="@{/departmentrevenue/entry}">Edit Data</a></td>
            <form th:action="@{/departmentrevenue/confirm}" method="post">
                <td><button class="btn btn-warning" type="submit" value="confirm">Confirm</button></td>
            </form>
        </tr>

        </tbody>
    </table>

</th:block>
</div>


</body>
</html>