<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Department Revenue Entry</title>
</head>
<head th:include="fragment/bootstrap :: head"></head>
<body th:include="fragment/bootstrap :: body"></body>
<body>

<div class="container">
    <h1>Department Revenue Entry</h1>
<form th:action="@{/departmentrevenue/entry}" th:object="${departmentRevenue}" method="post">
    <table class="table table-striped">
        <colgroup>
            <col style="width: 70%">
            <col style="width: 30%">
        </colgroup>
        <tbody>

        <!-- Date -->
        <tr>
            <th>Date</th>
            <td><input class="form-control" type="date" th:field="*{stringDate}"/></td>
            <p th:each="error : ${#fields.errors('date')}"
               th:text="${error}">Constraint error</p>
        </tr>

        <!-- Location -->
        <tr>
            <th>Department</th>
            <td><select class="form-control" th:field="*{departmentId}">
                <option th:each="department : ${departmentList}"
                        th:value="${department.id}"
                        th:text="${department.name}"
                        th:selected="${departmentRevenue.departmentId == department.id}">
                </option>
            </select></td>
            <p th:each="error : ${#fields.errors('departmentId')}"
               th:text="${error}">Constraint error</p>
        </tr>
        <!-- transactionCount -->
        <tr>
            <th>Revenue</th>
            <td><input  class="form-control" type="text" th:field="*{revenue}"/></td>
            <p th:each="error : ${#fields.errors('revenue')}"
               th:text="${error}">Constraint error</p>
        </tr>
        <tr>
            <th></th>
            <td><button class="btn btn-primary" type="submit" value="submit">Submit</button></td>
        </tr>

        </tbody>
    </table>
</form>
</div>

</body>
</html>