<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Department List</title>
</head>
<head th:include="fragment/bootstrap :: head"></head>
<body th:include="fragment/bootstrap :: body"></body>
<body>
<div th:replace="fragment/navigation :: nav"></div>

<div class="container">
    <h2>Departments</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Size</th>
        <th>Enabled</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="department : ${departments}">
        <form th:action="@{/department/modify}" th:object="${newDepartment}" method="post">
            <input type="hidden" id="id" name="id" th:value="${department.id}"/>
            <td>
                <input class="form-control" id="name" name="name" th:value="${department.name}"/>
                <p th:each="error : ${#fields.errors('name')}"
                   th:text="${error}">Constraint error</p>
            </td>
            <td>
                <select class="form-control custom-select" id="locationId" name="locationId">
                    <option></option>
                    <option th:each="location : ${locations}"
                            th:value="${location.id}"
                            th:text="${location.name}"
                            th:selected="${location.id == department.locationId}">
                    </option>
                </select>
                <p th:each="error : ${#fields.errors('locationId')}"
                   th:text="${error}">Constraint error</p>
            </td>
            <td>
                <input class="form-control" id="size" name="size" th:value="${department.size}"/>
                <p th:each="error : ${#fields.errors('size')}"
                   th:text="${error}">Constraint error</p>
            </td>
            <td><input class="custom-control-input" type="checkbox" id="enabled" name="enabled" th:checked="${department.enabled}"/></td>
            <td><button class="btn btn-warning" type="submit" value="modify">Modify</button></td>
        </form>
        <td>
            <form th:action="@{/department/delete}" th:object="${newDepartment}" method="post">
                <input type="hidden" id="id" name="id" th:value="${department.id}"/>
                <button class="btn btn-danger" type="submit" value="delete">Delete</button>
            </form>
        <td>
    </tr>
    <tr>
        <form th:action="@{/department/create}" th:object="${newDepartment}" method="post">
            <td>
                <input class="form-control" th:field="*{name}"/>
                <p th:each="error : ${#fields.errors('name')}"
                   th:text="${error}">Constraint error</p>
            </td>
            <td>
                <select class="form-control custom-select" th:field="*{locationId}">
                    <option th:each="location : ${locations}"
                            th:value="${location.id}"
                            th:text="${location.name}">
                    </option>
                </select>
                <p th:each="error : ${#fields.errors('locationId')}"
                   th:text="${error}">Constraint error</p>
            </td>
            <td>
                <input class="form-control" th:field="*{size}"/>
                <p th:each="error : ${#fields.errors('size')}"
                   th:text="${error}">Constraint error</p>
            </td>
            <td><input class="custom-control-input" type="checkbox" th:field="*{enabled}" checked></td>
            <td><button class="btn btn-primary" type="submit" value="create">Create</button></td>
            <td></td>
        </form>
    </tr>
    </tbody>
</table>
</div>


</body>
</html>