<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Forgot Password</title>
</head>
<head th:include="fragment/bootstrap :: head"></head>
<body th:include="fragment/bootstrap :: body"></body>
<body>
<table>
    <tbody>
    <form th:action="@{/user/forgot}" method="post">
        <tr>
        <th>Email</th>
        <td><input id="email" name="email"/></td>
        <input type="submit" value="submit"/>
        </tr>
    </form>
    </tbody>
</table>

</body>
</html>