<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"></meta>
    <title>Login</title>
</head>
<head th:include="fragment/bootstrap :: head"></head>
<body th:include="fragment/bootstrap :: body"></body>
<body>

<div th:replace="fragment/navigation :: nav"></div>

<div class="container" style="max-width: 600px">
    <h2>Login</h2>
    <form name="f" action="/login" method="POST">
        <table class="table table-borderless">
            <tbody>
            <tr class="borderless"><th>User:</th><td><input class="form-control" type="text" name="username" value=""></td></tr>
            <tr class="borderless"><th>Password:</th><td><input class="form-control" type="password" name="password"></td></tr>
            <tr class="borderless">
                <td></td>
                <td class="text-right">
                    <a class="btn btn-link" href="/user/forgot">Forgot Password</a>
                    <button class="btn btn-primary" name="submit" type="submit" value="Login">Login</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>