<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
<table>
    <tbody>
    <form th:action="@{/user/changepassword}" method="post">
        <tr>
            <th>Password</th>
            <td><input type="password" id="password" name="password"></td>
        </tr>
        <tr>
            <th>Confirm Password</th>
            <td><input type="confirm" id="confirm" name="confirm"></td>
        </tr>
        <tr>
            <th></th>
            <td><input type="submit" value="change"></td>
        </tr>
    </form>
    </tbody>
</table>

</body>
</html>