<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Saved Data</title>
</head>
<head th:include="fragment/bootstrap :: head"></head>
<body th:include="fragment/bootstrap :: body"></body>
<body>

<div class="container">
    <h1>Department Revenue Entry Saved</h1>
<th:block th:object="${departmentRevenue}">
    <table class="table table-striped">
        <tbody>

        <!-- Id -->
        <tr>
            <th>ID</th>
            <td th:text="*{id}"></td>
        </tr>

        <!-- Date -->
        <tr>
            <th>Date</th>
            <td th:text="*{date}"></td>
        </tr>

        <!-- Location -->
        <tr>
            <th>Location</th>
            <td th:text="*{departmentName}"></td>
        </tr>
        <!-- transactionCount -->
        <tr>
            <th>Revenue</th>
            <td th:text="*{revenue}"/></td>
        </tr>
        </tbody>
    </table>

</th:block>
</div>


</body>
</html>