<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Store Location</title>
</head>
<head th:include="fragment/bootstrap :: head"></head>
<body th:include="fragment/bootstrap :: body"></body>
<body>
<div th:replace="fragment/navigation :: nav"></div>

<div class="container">
    <h2>Store Locations</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Street Line One</th>
            <th>Street Line Two</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Enabled</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="location : ${locations}">
                <form th:action="@{/storelocation/modify}" th:object="${newLocation}" method="post">
                    <input class="form-control" type="hidden" id="id" name="id" th:value="${location.id}"/>
                    <td><input class="form-control" id="name" name="name" th:value="${location.name}"/></td>
                    <p th:each="error : ${#fields.errors('name')}"
                       th:text="${error}">Constraint error</p>

                    <td><input class="form-control" id="lineOne" name="lineOne" th:value="${location.lineOne}"/></td>
                    <p th:each="error : ${#fields.errors('lineOne')}"
                       th:text="${error}">Constraint error</p>

                    <td><input class="form-control" id="lineTwo" name="lineTwo" th:value="${location.lineTwo}"/></td>
                    <p th:each="error : ${#fields.errors('lineTwo')}"
                       th:text="${error}">Constraint error</p>

                    <td><input class="form-control" id="city" name="city" th:value="${location.city}"/></td>
                    <p th:each="error : ${#fields.errors('city')}"
                       th:text="${error}">Constraint error</p>

                    <td><input class="form-control" id="state" name="state" th:value="${location.state}"/></td>
                    <p th:each="error : ${#fields.errors('state')}"
                       th:text="${error}">Constraint error</p>

                    <td><input class="form-control" id="zipcode" name="zipcode" th:value="${location.zipcode}"/></td>
                    <p th:each="error : ${#fields.errors('zipcode')}"
                       th:text="${error}">Constraint error</p>

                    <td><input class="form-control" type="checkbox" id="enabled" name="enabled" th:checked="${location.enabled}"/></td>
                    <td><button class="btn btn-warning" type="submit" value="modify">Modify</button></td>
                </form>
                <td>
                    <form th:action="@{/storelocation/delete}" th:object="${newLocation}" method="post">
                        <input type="hidden" id="id" name="id" th:value="${location.id}"/>
                        <button class="btn btn-danger" type="submit" value="delete">Delete</button>
                    </form>
                <td>
                </td>
            </tr>
            <form th:action="@{/storelocation/create}" th:object="${newLocation}" method="post">
                <td><input class="form-control" th:field="*{name}"/></td>
                <p th:each="error : ${#fields.errors('name')}"
                   th:text="${error}">Constraint error</p>

                <td><input class="form-control" th:field="*{lineOne}"/></td>
                <p th:each="error : ${#fields.errors('lineOne')}"
                   th:text="${error}">Constraint error</p>

                <td><input class="form-control" th:field="*{lineTwo}"/></td>
                <p th:each="error : ${#fields.errors('lineTwo')}"
                   th:text="${error}">Constraint error</p>

                <td><input class="form-control" th:field="*{city}"/></td>
                <p th:each="error : ${#fields.errors('city')}"
                   th:text="${error}">Constraint error</p>

                <td><input class="form-control" th:field="*{state}"/></td>
                <p th:each="error : ${#fields.errors('state')}"
                   th:text="${error}">Constraint error</p>

                <td><input class="form-control" th:field="*{zipcode}"/></td>
                <p th:each="error : ${#fields.errors('zipcode')}"
                   th:text="${error}">Constraint error</p>

                <td><input class="form-control" type="checkbox" th:field="*{enabled}" checked/></td>
                <td><button class="btn btn-primary" type="submit" value="create">Create</button></td>
                <td></td>
            </form>
        </tbody>
    </table>
</div>
</body>
</html>