<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>User Confirmed</title>
</head>
<head th:include="fragment/bootstrap :: head"></head>
<body th:include="fragment/bootstrap :: body"></body>
<body>
<div th:replace="fragment/navigation :: nav"></div>
<div class="container">
    <h2>Account Confirmed</h2>
    <p>Thank you for confirming your account <span th:text="${user.firstName}">first name</span>
        You will be unable to log in until your account is confirmed by the administrator.
    </p>
</div>

</body>
</html>