<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Processed Revenue List</title>
</head>
<head th:include="fragment/bootstrap :: head"></head>
<body th:include="fragment/bootstrap :: body"></body>
<body>
<div th:replace="fragment/navigation :: nav"></div>

<div class="container">
    <h2>Processed Revenue Entry</h2>

    <table class="table">
        <form th:action="@{/revenue/daily}" th:object="${search}" method="get">
        <thead>
        <tr>
            <th>Location</th>
            <th>Starting</th>
            <th>Ending</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><select class="form-control custom-select" th:field="*{locationId}">
                <option value="-1">All Locations</option>
                <option th:each="location : ${locations}"
                        th:value="${location.id}"
                        th:text="${location.name}"
                        th:selected="${search.locationId == location.id}">
                </option>
            </select>
            </td>
            <td><input class="form-control form-date" type="date" th:field="*{stringStartingDate}"/>
                <p th:each="error : ${#fields.errors('startingDate')}"
                   th:text="${error}">Constraint error</p>
                <script type="text/javascript">
                    $(function () {
                        $('#stringStartingDate').datepicker({format:"yyyy-mm-dd"});
                    });
                </script>
            </td>
            <td><input class="form-control form-date" type="date" th:field="*{stringEndingDate}"/>
                <p th:each="error : ${#fields.errors('endingDate')}"
                   th:text="${error}">Constraint error</p>
                <script type="text/javascript">
                    $(function () {
                        $('#stringEndingDate').datepicker({format:"yyyy-mm-dd"});
                    });
                </script>
            </td>
            <td>
                <button class="btn btn-primary" type="submit" value="submit">Filter</button>
            </td>
        </tr>
        </tbody>
        </form>
    </table>

    <table class="table table-striped">
        <thead>
        <th>Location</th>
        <th>Date</th>
        <!--<th>Transaction Count</th>-->
        <!--<th>Cash Count</th>-->
        <!--<th>Check Count</th>-->
        <!--<th>Card Unit</th>-->
        <!--<th>Payout Receipt</th>-->
        <!--<th>Cash Tape</th>-->
        <!--<th>Check Tape</th>-->
        <!--<th>Card Tape</th>-->
        <!--<th>Tax Tape</th>-->
        <!--<th>Vehicle Sold</th>-->
        <!--<th>Sales Void</th>-->
        <!--<th>Tax Void</th>-->
        <!--<th>Memo</th>-->
        <th>Actual Intake</th>
        <th>Actual Pre-Tax Intake</th>
        <th>Actual Taxable Intake</th>
        <th>Tape Intake</th>
        <th>Tape Pre-Tax Intake</th>
        <th>Tape Taxable Intake</th>
        <th>Over/Under</th>
        <th>Calculated Tax Intake</th>
        </thead>
        <tbody>
        <tr th:each="revenue : ${revenues.data}">
            <td th:text="${revenue.enteredRevenueLocationName}"></td>
            <td th:text="${#dates.format(revenue.enteredRevenueDate,'yyyy-MM-dd')}"></td>
            <!--<td th:text="${revenue.enteredRevenueTransactionCount}"></td>-->
            <!--<td th:text="${revenue.enteredRevenueCashCount}"></td>-->
            <!--<td th:text="${revenue.enteredRevenueCheckCount}"></td>-->
            <!--<td th:text="${revenue.enteredRevenueCardUnit}"></td>-->
            <!--<td th:text="${revenue.enteredRevenuePayoutReceipt}"></td>-->
            <!--<td th:text="${revenue.enteredRevenueCashTape}"></td>-->
            <!--<td th:text="${revenue.enteredRevenueCheckTape}"></td>-->
            <!--<td th:text="${revenue.enteredRevenueCardTape}"></td>-->
            <!--<td th:text="${revenue.enteredRevenueTaxTape}"></td>-->
            <!--<td th:text="${revenue.enteredRevenueVehicleSale}"></td>-->
            <!--<td th:text="${revenue.enteredRevenueSalesVoid}"></td>-->
            <!--<td th:text="${revenue.enteredRevenueTaxVoid}"></td>-->
            <!--<td th:text="${revenue.enteredRevenueMemo}"></td>-->
            <td th:text="${revenue.actualIntake}"></td>
            <td th:text="${revenue.actualPreTaxIntake}"></td>
            <td th:text="${revenue.actualTaxableIntake}"></td>
            <td th:text="${revenue.tapeIntake}"></td>
            <td th:text="${revenue.tapePreTaxIntake}"></td>
            <td th:text="${revenue.tapeTaxableIntake}"></td>
            <td th:text="${revenue.overUnder}"></td>
            <td th:text="${revenue.taxCount}"></td>
        </tr>
        <tr class="table-active" th:object="${revenues.summary}">
            <th></th>
            <th></th>
            <!--<td th:text="${revenue.enteredRevenueTransactionCount}"></td>-->
            <!--<td th:text="${revenue.enteredRevenueCashCount}"></td>-->
            <!--<td th:text="${revenue.enteredRevenueCheckCount}"></td>-->
            <!--<td th:text="${revenue.enteredRevenueCardUnit}"></td>-->
            <!--<td th:text="${revenue.enteredRevenuePayoutReceipt}"></td>-->
            <!--<td th:text="${revenue.enteredRevenueCashTape}"></td>-->
            <!--<td th:text="${revenue.enteredRevenueCheckTape}"></td>-->
            <!--<td th:text="${revenue.enteredRevenueCardTape}"></td>-->
            <!--<td th:text="${revenue.enteredRevenueTaxTape}"></td>-->
            <!--<td th:text="${revenue.enteredRevenueVehicleSale}"></td>-->
            <!--<td th:text="${revenue.enteredRevenueSalesVoid}"></td>-->
            <!--<td th:text="${revenue.enteredRevenueTaxVoid}"></td>-->
            <!--<td th:text="${revenue.enteredRevenueMemo}"></td>-->
            <th th:text="*{actualIntake}"></th>
            <th th:text="*{actualPreTaxIntake}"></th>
            <th th:text="*{actualTaxableIntake}"></th>
            <th th:text="*{tapeIntake}"></th>
            <th th:text="*{tapePreTaxIntake}"></th>
            <th th:text="*{tapeTaxableIntake}"></th>
            <th th:text="*{overUnder}"></th>
            <th th:text="*{taxCount}"></th>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>