<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Department List</title>
</head>
<head th:include="fragment/bootstrap :: head"></head>
<body th:include="fragment/bootstrap :: body"></body>
<body>
<div th:replace="fragment/navigation :: nav"></div>

<div class="container">
<table class="table table-striped">
    <h2 th:text="${department.name}">Department</h2>
        <form th:action="@{/department/{department_id}(department_id=${department.id})}" th:object="${department}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <tr>
                <th>Name</th>
                <td><input class="form-control" th:field="*{name}"/>
                    <p th:each="error : ${#fields.errors('name')}"
                       th:text="${error}">Constraint error</p>
                </td>
            </tr>
            <tr>
                <th>Location</th>
                <td>
                <select class="form-control custom-select" th:field="*{locationId}">
                    <option th:each="location : ${locations}"
                            th:value="${location.id}"
                            th:text="${location.name}"
                            th:selected="${location.id == department.locationId}">
                    </option>
                </select>
                <p th:each="error : ${#fields.errors('locationId')}"
                   th:text="${error}">Constraint error</p>
                </td>
            </tr>
            <tr>
                <th></th>
                <td class="text-right"><button class="btn btn-primary" type="submit" value="create">Modify</button></td>
            </tr>
        </form>
        </tbody>
</table>
</div>


</body>
</html>