<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"></meta>
    <title>Department Size List</title>
</head>
<head th:include="fragment/bootstrap :: head"></head>
<body th:include="fragment/bootstrap :: body"></body>
<body>
<div th:replace="fragment/navigation :: nav"></div>

<div class="container">
    <h2 th:text="${department.name}">Department Sizes</h2>

    <table class="table table-striped">
        <thead>
        <th>Effective Date</th>
        <th>Size</th>
        <th></th>
        </thead>
        <tbody>
        <tr th:each="size : ${sizes}">
        <form th:action="@{/department/{department_id}/size/delete(department_id=${department.id})}" method="post">
            <input type="hidden" id=id name=id th:value="${size.id}"/>
            <td th:text="${size.start}"></td>
            <td th:text="${size.size}"></td>
            <td><button class="btn btn-warning" value="submit">Delete</button></td>
        </form>
        </tr>

        <tr>
            <form th:action="@{/department/{department_id}/size/create(department_id=${department.id})}" th:object="${newSize}" method="post">
                <td><input class="form-control" th:field="*{stringStart}"/>

                    <p th:each="error : ${#fields.errors('stringStart')}"
                       th:text="${error}">Constraint error</p></td>
                <script type="text/javascript">
                    $(function () {
                        $('#stringStart').datepicker({format:"yyyy-mm-dd"});
                    });
                </script>
                <td><input class="form-control" th:field="*{size}"/>

                    <p th:each="error : ${#fields.errors('size')}"
                       th:text="${error}">Constraint error</p></td>

                <td><button class="btn btn-primary">Create</button></td>
            </form>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>